.auth {
  height: 100vh;
  width: 100vw;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);

  .auth-container {
    color: black;
    background-color: rgba(var(--d87, 255, 255, 255), 1);
    border: 1.5px solid rgba(var(--b6a, 219, 219, 219), 1);
    position: relative;
    width: 40%;
    height: 70%;
    left: 30%;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .auth-input-box {
      width: 50%;
      height: 15%;
      align-items: center;
      p {
        font-size: 18px;
      }
      input {
        width: 60%;
        height: 22%;
        background-color: white;
      }
    }
    //Media Query
    @media screen and (max-width: 768px) {
      position: relative;
      width: 70%;
      height: 80%;
      left: 15%;
      font-size: 25px;
      .auth-input-box {
        p {
          font-size: 25px;
        }
        input {
          width: 70%;
          height: 26%;
        }
      }
    }
  }

  //
  .auth-button-container {
    width: 40%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .dark-button {
      width: 5rem;
      height: 2rem;
      &:hover {
        background-color: black;
        color: white;
      }
    }
    @media screen and (max-width: 768px) {
  
        width: 65%;
        .dark-button{
            width: 8rem;
            height: 3rem;
            font-size: 20px;
        }
    }
  }

}
